@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: white;
  color: black;
}

html {
position: relative;
background-color: white;
color: black;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
